{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }],
    "react"],
    "plugins": [
      "add-module-exports",
      "transform-class-properties"
    ]
}