
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");
body{
  background-color: #fff8dc;
  background-image: url('../img/1894897091-5834f2bab5271_articlex.jpg');
  background-size: 100px;
}

.btn{
  border-radius: 1em;
  display: flex;
}